.container.proto-new
  = form_for(@prototype) do |pf|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = pf.text_field :title, placeholder: "Title", class: "proto-new-title"
      .row
      = pf.fields_for :images do |f|
        .col-md-12
          .cover-image-upload
            = f.file_field :main_image
        .col-md-12
          %ul.proto-sub-list.list-group
            %li.list-group-item.col-md-4
              .image-upload
                = f.file_field :sub_image
            %li.list-group-item.col-md-4
              .image-upload
                = f.file_field :sub_image
            %li.list-group-item.col-md-4
              .image-upload-plus
                %span +
      .row.proto-description
        .col-md-12
          = pf.text_field :catchcopy, placeholder: "Catch Copy"
        .col-md-12
          = pf.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{:type => "text", :placeholder => "Web Design"}/
            .col-md-3
              %input{:type => "text", :placeholder => "UI"}/
            .col-md-3
              %input{:type => "text", :placeholder => "Application"}/
      .row.text-center.proto-btn
        %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Publish
