%p{ id: "notice" }
= notice
.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag("#{@prototype.user.avatar}", alt: "プロフィール写真", style: "width: 64px; height: 64px;", "data-holder-rendered" => "true", "data-src" => "holder.js/64x64", class: "media-object"), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.name}", user_path(@prototype.user)
            %span.degree
              = @prototype.user.member

    .col-md-6.text-right#like-button
      = render partial: "likes/likes_button"
  .row
    .col-md-9
      = image_tag("#{@prototype.images.main.first.image}", class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
      - @prototype.images.sub.each do |sub|
        %li.list-group-item
          = image_tag("#{sub.image}", class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catchcopy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        - @tags.each do |tag|
          %li
            = link_to tag, tag_path(tag), class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num#count
        (#{@prototype.comments.count})

    #comments
      = render partial: "comments/comment", collection: @prototype.comments
- if user_signed_in?
  = form_for [@prototype, @comment], class: "form-inline", role: "form", remote: true do |f|
    %h4{ style: "padding-left: 100px;" }
      Write a comment
    .row{ class: "comment-style" }
      .form-group.col-md-10
        = f.text_area :text, placeholder: "Your comments", rows: "3", class: "form-control", id: "comment-field"
      .form-group.col-md-2
        = f.submit "Comment", class: "btn btn-primary"
